:root{
    --background: #34495e;
    --borderColor: #2ecc71;
    --formColor: #e6ffcc;
    --inputDefaultBorderColor: #3498db;

}

body,html{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    height: 100%;
    background: url(slike/login1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}


.box{
    position: absolute;
    width: 300px;
    padding: 40px;
    background: var(--formColor);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:black;
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background:  none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--inputDefaultBorderColor);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: var(--borderColor);
}

.box input[type = "text"]:hover, .box input[type = "password"]:hover{
    width: 280px;
    border-color: var(--borderColor);
}

.box button{
    border: 0;
    background:  none;
    display: block;
    margin: 20px auto;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid var(--borderColor);
    padding: 14px 40px;
    outline: none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button:hover{
    background: var(--borderColor);
}

.text{
    color: black;
    font: sans-serif;
    font-size: 19px;
}

a:hover{
    color: var(--borderColor);
}

.dsol{
    display: none;
}